.Standings{
    flex:0.5;
}
.standings-img{
    height: 20px;
}
.focusedResult{
  color: black;
}
@media screen and (max-width: 750px) {
  .Standings {
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 450px) {

}
